__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
build/
dist/
.git/
.gitignore
*.db
*.sqlite3
*.log
*.bak
*.swp
.DS_Store
.env
.env.*
node_modules/
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
*.egg-info/
.idea/
.vscode/
